<%= invalid_event %>

<h1><%= @user.username %><h1>
<h2>Your Events:</h2>
<% @user.events.each do |e| %>
  <h4><%= link_to full_event_name(e), events_show_path(:id => e.id) %></h4>
<% end %>

<h2>Attending events:</h2>
<ul>
  <% @user.invitations.each do |i|%>
    <li><%= link_to attended_event(i), events_show_path(:id => i.attended_event.id) %></li>
  <% end %>
</ul>

<%= link_to  "New Event", events_new_path %>
